  <!-- 
  1. 切换court， refresh selection-part
  2. form check case2.1 - check: disable rest of check box
                case2.2 - uncheck: do nothing
  3. fire api call 3.1: some url
                   3.2: groung, address, court number, date, time
 --> 

 <!-- case1: change checked if it is from cur user
 document.getElementById('MON-9').checked = true;
 
 case2: otherwise, change disabled and className
 document.getElementById('MON-9').disabled = true;
 document.getElementById('MON-9').className += " disabled-checkbox"

 -->

  <!-- Map each booking with API data
  confirmedCourt = [Booking1, Booking2]
  confirmedCourt.map(b => document.getElementById(`${b.date}-${b.weekDay}-${b.startTime}`).checked = true)
  for (let booking of bookings) {
    if (booking.isSelf) {
    document.getElementById(`${b.date}-${b.weekDay}-${b.startTime}`).checked = true
  } else {
    document.getElementById(`${b.date}-${b.weekDay}-${b.startTime}`).disabled = true
    document.getElementById(`${b.date}-${b.weekDay}-${b.startTime}`).value = 'whatever'
  }
  } -->

<!-- Modal -->
<script>
  window.unitCourt = "Court 1";
  let done = false;

  function onSelectCourtChange(bookings) {
    cancelPreUnitCourtSchedule(bookings, unitCourt);
    unitCourt = document.getElementById('courtNumber').value;
    document.getElementById('unitCourt1').innerText = `${unitCourt}`;
    document.getElementById('unitCourt2').value = `${unitCourt}`;
    addBookedSchedule(bookings, unitCourt);
  }

  function onRenderSchedule(bookings) {
    if (!done) {
      const d = new Date();
      const month = d.getMonth();
      const day = d.getDate();
      const weekDay = d.getDay();
      renderTimePeriod(month, day);
      done = true;

      for(let i = 0; i < 7; i++) {
        renderDate(month+1, day + i, displayWeekDay((weekDay + i) % 7));
      }
      renderSchedule(month + 1, day, weekDay);
      cancelOverTimeSchedule();
      addBookedSchedule(bookings, unitCourt);
    }
  }

  function renderTimePeriod(month, day) {
    const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    let dayth = "";
    if (day === 1) {
      dayth = "1st";
    } else if (day === 2) {
      dayth = "2nd";
    } else if (day === 3) {
      dayth = "3rd";
    } else {
      dayth = `${day}th`;
    }
    document.getElementById("time-period").innerHTML = `${months[month]} ${dayth} - ${months[month]} ${day+6}th`;
  }

  function renderDate(month, day, weekDay) {
    let div1 = document.createElement("div");
    let div2 = document.createElement("div");
    div1.className = "col-md-1 zero-padding";
    div2.className = "col-md-1 zero-padding";
    div1.id = `${month}-${day}`;
    div2.id = `${weekDay}`;
    div1.innerText = `${month}/${day}`;
    div2.innerText = `${weekDay}`;
    document.getElementById("date-tag").appendChild(div1);
    document.getElementById("weekday-tag").appendChild(div2);
  }

  function renderSchedule(month, day, weekDay) {
    const getDiv = document.getElementsByClassName("row-check");
    let time = 9;
    for (let rowDiv of getDiv) {
      let colCheckBoxs = rowDiv.children;
      for (let i = 1; i < colCheckBoxs.length - 2; i++) {
        colCheckBoxs[i].children[0].name = `${month}-${day + i - 1}-${(weekDay + i - 1) % 7}-${time}`;
      }
      time++;
    }
  }

  function displayWeekDay(weekDay) {
    switch (weekDay) {
      case 0:
        day = "Sun";
        break;
      case 1:
        day = "Mon";
        break;
      case 2:
        day = "Tue";
        break;
      case 3:
        day = "Wed";
        break;
      case 4:
        day = "Thu";
        break;
      case 5:
        day = "Fri";
        break;
      case 6:
        day = "Sat";
    }
    return day;
  }

  function addFormValue(name) {
    let timeArr = name.split('-');
    document.getElementById("month").value = timeArr[0];
    document.getElementById("day").value = timeArr[1];
    document.getElementById("weekday").value = timeArr[2];
    document.getElementById("time").value = timeArr[3];

  }

  function addBookedSchedule(bookings, unitCourt) {
    let unitCourtBookings = []
    for (let booking of bookings) {
      if (booking.unitCourt === unitCourt) {
        unitCourtBookings.push(booking);
      }
    }
    for (booking of unitCourtBookings) {
      const name = `${booking.month}-${booking.day}-${booking.weekDay}-${booking.time}`;
      const grid = document.getElementsByName(name);
      grid[0].id = 'defaultCheck2';
      grid[0].value = 'booked';
      grid[0].disabled = true;
    }
    markOverTimeSchedule();
  }

  function markOverTimeSchedule() {
    let nowTime = new Date().getHours();
    const grids = document.getElementsByClassName('row-check');
    for (let grid of grids) {
      const child = grid.children[1].children[0];
      let time = child.name.split('-')[3];
      if (time <= nowTime) {
        child.id = 'defaultCheck2';
        child.value = 'booked';
        child.disabled = true;
      } else {
        break;
      }
    }
  }

  function cancelPreUnitCourtSchedule(bookings, unitCourt) {
    let unitCourtBookings = []
    for (let booking of bookings) {
      if (booking.unitCourt === unitCourt) {
        unitCourtBookings.push(booking);
      }
    }
    for (booking of unitCourtBookings) {
      const name = `${booking.month}-${booking.day}-${booking.weekDay}-${booking.time}`;
      const grid = document.getElementsByName(name);
      grid[0].id = 'defaultCheck1';
      grid[0].value = '';
      grid[0].disabled = false;
    }
  }

  function cancelOverTimeSchedule() {
    const grids = document.getElementsByClassName('row-check');
    for (let grid of grids) {
      const child = grid.children[1].children[0];
      child.id = 'defaultCheck1';
      child.value = '';
      child.disabled = false;
    }
  }
</script>

<div class="modal fade" id="exampleModalCenter" role="dialog" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <div class="div">
            <h5 class="modal-title" id="exampleModalLongTitle"><%= court.name %></h5>
            <p id="time-period"></p>
          </div>
          <!-- Small button groups (default and split) -->
          <div class='selection-part'>
          <div class="btn-group" >
            <select class="form-select court-selector" id="courtNumber" name="booking[court]" onchange="onSelectCourtChange(court.bookings)">
              <% for (let i = 1; i <= court.courtNum; i++) { %>
                <option>Court <%= i %></option>
              <% } %>
            </select>
          </div>
          <div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" disabled>
              <label>
                avaliable
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              <label >
                booked
              </label>
            </div>
          </div>
        </div>
          <div class="close-button">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
        </div>

        <div class="modal-body">
          <div class="container-fluid schedule-background" id="schedule-body">
            <div class="row date-font" id="date-tag">
              <div class="col-md-4"></div>
            </div>
            <div class="row week-font" id="weekday-tag">
              <div class="col-md-4"></div>
            </div>
            <hr style="color:white">
            <div class="row row-check">
              <div class="col-md-4 schedule-time-period" id="row-check" value="9">9 am - 10 am</div>
              <%- include('../partials/dailySchedule') %>
            </div>
            <div class="row row-check">
              <div class="col-md-4 schedule-time-period" id="row-check" value="10">10 am - 11 am</div>
              <%- include('../partials/dailySchedule') %>
            </div>
            <div class="row row-check">
              <div class="col-md-4 schedule-time-period" id="row-check" value="11">11 am - 12 pm</div>
              <%- include('../partials/dailySchedule') %>
            </div>
            <div class="row row-check">
              <div class="col-md-4 schedule-time-period" id="row-check" value="12">12 pm - 1 pm</div>
              <%- include('../partials/dailySchedule') %>
            </div>
            <div class="row row-check">
              <div class="col-md-4 schedule-time-period" id="row-check" value="1">1 pm - 2 pm</div>
              <%- include('../partials/dailySchedule') %>
            </div>
            <div class="row row-check">
              <div class="col-md-4 schedule-time-period" id="row-check" value="2">2 pm - 3 pm</div>
              <%- include('../partials/dailySchedule') %>
            </div>
            <div class="row row-check">
              <div class="col-md-4 schedule-time-period" id="row-check" value="3">3 pm - 4 pm</div>
              <%- include('../partials/dailySchedule') %>
            </div>
            <div class="row row-check">
              <div class="col-md-4 schedule-time-period" id="row-check" value="4">4 pm - 5 pm</div>
              <%- include('../partials/dailySchedule') %>
            </div>
            <div class="row row-check">
              <div class="col-md-4 schedule-time-period" id="row-check" value="5">5 pm - 6 pm</div>
              <%- include('../partials/dailySchedule') %>
            </div>
            <div class="row row-check">
              <div class="col-md-4 schedule-time-period" id="row-check" value="6">6 am - 7 am</div>
              <%- include('../partials/dailySchedule') %>
            </div>
            <div id="test"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirm</button>
        </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <form action="/tenniscourts/<%= court._id %>/booking" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>You've booked your court at <br><%= court.name %></p>
          <p><%= court.street %>, <%= court.city %>, <br><%= court.state %> <%= court.zipcode %></p>
          <p id="unitCourt1">Court 1</p>
          <p>A comfirmation has sent to your email.</p>
        </div>
        <form action="/tenniscourts/<%= court._id %>/booking" method="POST">
          <input class="form-control" type="hidden" id="ground" name="booking[ground]" value=<%= court._id %>>
          <input class="form-control" type="hidden" id="unitCourt2" name="booking[unitCourt]" value="Court 1">
          <input class="form-control" type="hidden" id="month" name="booking[month]">
          <input class="form-control" type="hidden" id="day" name="booking[day]">
          <input class="form-control" type="hidden" id="weekday" name="booking[weekDay]">
          <input class="form-control" type="hidden" id="time" name="booking[time]">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">Cancel My Booking</button>
            <button class="btn btn-primary" data-bs-target="#exampleModal">Confirm</button>
            <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-target="#exampleModal">Confirm</button> -->
          </div>
        </form>
      </form>
    </div>
  </div>
</div>




      