<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Tennis Court</h1>
        <div class="col-6 offset-3">
            <!-- hit endpoint - app.put('/tenniscourts', async (req, res) => {} -->
            <form action="/tenniscourts/<%= court._id %>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="tenniscourt[name]" value="<%=court.name %>"
                        required>
                    <div class="valid-feedback">
                        Look good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="street">Street</label>
                    <input class="form-control" type="text" id="street" name="tenniscourt[street]"
                        value="<%= court.street %>" required>
                    <div class="valid-feedback">
                        Look good!
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label class="form-label" for="city">City</label>
                        <input class="form-control" type="text" id="city" name="tenniscourt[city]"
                            value="<%= court.city %>" required>
                        <div class="valid-feedback">
                            Look good!
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="form-label" for="state">State</label>
                        <input class="form-control" type="text" id="state" name="tenniscourt[state]"
                            value="<%= court.state %>" required>
                        <div class="valid-feedback">
                            Look good!
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="form-label" for="zipcode">Zipcode</label>
                        <input class="form-control" type="text" id="zipcode" name="tenniscourt[zipcode]"
                            value="<%= court.zipcode %>" required>
                        <div class="valid-feedback">
                            Look good!
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" for="courtNum">Court Number</label>
                        <input class="form-control" type="text" id="courtNum" name="tenniscourt[courtNum]"
                            value="<%= court.courtNum %>" required>
                        <div class="valid-feedback">
                            Look good!
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="light">Light</label>
                        <select class="form-select" id="light" name="tenniscourt[light]">
                            <option value="No" <%=court.light==='No' ? 'selected' : '' %>>No</option>
                            <option value="Yes" <%=court.light==='Yes' ? 'selected' : '' %>>Yes</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" for="startTime">Start Time (AM)</label>
                        <select class="form-select" id="startTime" name="tenniscourt[startTime]">
                            <option value="8AM" <%=court.startTime==='8AM' ? 'selected' : '' %>>8</option>
                            <option value="9AM" <%=court.startTime==='9AM' ? 'selected' : '' %>>9</option>
                            <option value="10AM" <%=court.startTime==='10AM' ? 'selected' : '' %>>10</option>
                            <option value="11AM" <%=court.startTime==='11AM' ? 'selected' : '' %>>11</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="endTime">End Time (PM)</label>
                        <select class="form-select" id="endTime" name="tenniscourt[endTime]">
                            <option value="4PM" <%=court.endTime==='4PM' ? 'selected' : '' %>>4</option>
                            <option value="5PM" <%=court.endTime==='5PM' ? 'selected' : '' %>>5</option>
                            <option value="6PM" <%=court.endTime==='6PM' ? 'selected' : '' %>>6</option>
                            <option value="7PM" <%=court.endTime==='7PM' ? 'selected' : '' %>>7</option>
                            <option value="8PM" <%=court.endTime==='8PM' ? 'selected' : '' %>>8</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" name="tenniscourt[image]" id="image"
                        value="<%= court.image %>">
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" for="latitude">Latitude</label>
                        <input class="form-control" type="text" id="latitude" name="tenniscourt[latitude]"
                            value="<%= court.latitude %>">
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="longitude">Longitude</label>
                        <input class="form-control" type="text" id="longitude" name="tenniscourt[longitude]"
                            value="<%= court.longitude %>">
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Tennis Court</button>
                </div>
            </form>
            <a href="/tenniscourts/<%= court._id %>">Bact to Tennis Court</a>
        </div>
    </div>